extends layout

block content
  .landing-page
    img.landing-logo(src='/images/Logo%202.png', alt='Downtown Donuts Logo 2')
    h1= title
    p.landing-copy Welcome to Downtown Donuts, where every donut is baked fresh, loaded with flavor, and worth coming back for.
    p.landing-copy From classic glazed favorites to bold specialty creations, this is your new go-to spot for the best donuts in town.
    .landing-actions
      a.landing-link(href='/about') About Us
      a.landing-link(href='/menu') View Menu
      a.landing-link(href='/comments') See Customer Comments