doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      a(href='/') Landing Page
      span | 
      a(href='/menu') Menu
      span | 
      a(href='/comments') Comments
    block content
