@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Montserrat:wght@400&display=swap");

body {
  padding: 50px;
  font: 14px "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #F7F7F7F7;
  text-align: center;
}

h1 {
  font-family: "Italianno", cursive;
  font-weight: 400;
  color: #F7C64A;
  background-color: #10291D;
  text-align: center;
  font-size: 4em;
}

a {
  color: #00B7FF;
}
